{% include 'base.html' %}
{% block content %}

<div class="row ">
    <div class="col-md-6 ">
        <div class="h-100 ">
            <div class="d-flex justify-content-center h-100">
                <div class="user_card p-0 m-0">
                    <div class="d-flex justify-content-center">
                        <h3 id="form-title">Password reset</h3>
                    </div>
                    <div class="d-flex justify-content-center form_container">
                        <form method="POST" action="">
                            {% csrf_token %}
                            <div class="input-group mb-3">
                                <div class="input-group-append">
                                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                                </div>
                                {{ form.email }}
                            </div>
                            <div class="d-flex justify-content-center mt-3 login_container">
                                <input class="btn login_btn" type="submit" value="Send Email">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="col-md-6 img-fluid mt-3">
        <img class="img-fluid" src="/static/images/signin.svg" alt="">
    </div>
</div>
            <script>
            var form_fields = document.getElementsByTagName('input')
            form_fields[1].placeholder = 'Email.';

            for (var field in form_fields) {
                form_fields[field].className += ' form-control'
            }
        </script>

{% endblock %}